
Test-Project/.vs/Test-Project/v16/.suo
Test-Project/.vs/Test-Project/v16/Browse.VC.db
Test-Project/.vs/Test-Project/v16/Browse.VC.db-shm
Test-Project/.vs/Test-Project/v16/Browse.VC.db-wal
Test-Project/.vs/Test-Project/v16/Browse.VC.opendb
Test-Project/.vs/Test-Project/v16/ipch/AutoPCH/a58ea0901868fc5c/TEST.ipch
Test-Project/Debug/Test-Project.exe
Test-Project/Debug/Test-Project.pdb
Test-Project/Test-Project.sln
Test-Project/Test-Project/Debug/Test-Project.exe.recipe
Test-Project/Test-Project/Debug/Test-Project.ilk
Test-Project/Test-Project/Debug/Test-Project.log
Test-Project/Test-Project/Debug/Test-Project.tlog/CL.command.1.tlog
Test-Project/Test-Project/Debug/Test-Project.tlog/CL.read.1.tlog
Test-Project/Test-Project/Debug/Test-Project.tlog/CL.write.1.tlog
Test-Project/Test-Project/Debug/Test-Project.tlog/link.command.1.tlog
Test-Project/Test-Project/Debug/Test-Project.tlog/link.read.1.tlog
Test-Project/Test-Project/Debug/Test-Project.tlog/link.write.1.tlog
Test-Project/Test-Project/Debug/Test-Project.tlog/Test-Project.lastbuildstate
Test-Project/Test-Project/Debug/test.obj
Test-Project/Test-Project/Debug/vc142.idb
Test-Project/Test-Project/Debug/vc142.pdb
Test-Project/Test-Project/Debug/vcpkg.applocal.log
Test-Project/Test-Project/Test-Project.vcxproj
Test-Project/Test-Project/Test-Project.vcxproj.filters
Test-Project/Test-Project/Test-Project.vcxproj.user
